#nav_profile_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.wish_thumbnail {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.wish {
    float: left;
    width: 180px;
    height : 280px;
    box-shadow: 10px 10px 10px rgb(211, 245, 210);
    margin : 5px 5px 5px 5px;
    text-align: center;
}

.page_num {
    margin-right: 5px;
    float: left; 
    margin-right: 10px;
}

#options {
    margin: 20px;
    padding: 10px;
    background-color: rgb(211, 280, 210);
    border: 1px solid #ddd;
}