.profile_img {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.wish_thumbnail {
    width: 100px;
    height: 100px;
}

.wish {
    float: left;
    width: 170px;
    height : 230px;
    border : 5px solid white;
    margin : 5px 5px 5px 5px;
    text-align: center;
}

.page_num {
    margin-right: 5px;
    float: left; 
    margin-right: 10px;
}


