body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-group {
  width: 70vw;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #d1d1d1;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.carousel {
  margin-top: 20px;
}

.card-footer {
  background-color: #f8f9fa;
  padding: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}
